= form_for @feed do |f|
  - if @feed.errors.any?
    #error_explanation
      %h2= "#{pluralize(@feed.errors.count, "error")} prohibited this feed from being saved:"
      %ul
        - @feed.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :feed_url
    = f.text_field :feed_url
  .field
    = f.label :html_url
    = f.text_field :html_url
  .field
    = f.label :type
    = f.text_field :type
  .actions
    = f.submit 'Save'
