.row
  .span2
    %ul
      - @tags.each do |tag|
        %li
          #{tag.label}
  .span2
    %ul
      - @tags.first.feeds.each do |feed|
        %li
          #{feed.title}
  .span8
    %ul
      - @tags.first.feeds.first.articles.each do |article|
        %li
          #{article.title}




%footer
  .btn-group
    .btn= link_to 'upload opml', url_for(controller: :feeds, action: :upload)
  .btn-group
    .btn= link_to 'new feed', new_feed_path
