.btn-group
  .btn= link_to 'upload opml', url_for(action: :upload)
.btn-group
  .btn= link_to 'new feed', new_feed_path

.row.index
  .span3
    %ul#tags
      - @tags.each do |tag|
        %li
          = tag.label
        - user_feeds = UserFeed.select_by_tag(@unread_user_feeds, tag)
        - unless user_feeds.empty?
          %ul.feed
            - user_feeds.each do |uf|
              %li
                = link_to(url_for(controller: :articles, action: :index, feed_id: uf.feed.id), remote: true, 'data-type' => :html, class: "feed_link") do
                  = raw "#{uf.feed.title}(<span class=\"unread_articles_count\">#{uf.unread_articles_count}</span>)"
  .span3
    %ul#articles
  .span6
    %ul#contents

