%p#notice= notice

%p
  %b Title:
  = @feed.title
%p
  %b Feed url:
  = @feed.url
%p
  %b Html url:
  = @feed.html_url
%p
  %b Kind:
  = @feed.kind

= link_to 'Edit', edit_feed_path(@feed)
\|
= link_to 'Back', feeds_path
