!!!
%html
  %head
    %title
      Yona
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar
      %ul
        - if current_user
          %li
            = current_user.screen_name
            .btn-group
              .btn= link_to 'upload opml', url_for(action: :upload)
              .btn= link_to 'new feed', new_feed_path
            .btn-group
              = link_to "Logout" , logout_path, class: "btn"

        - else
          .btn-group
            %li= link_to "Login", "/auth/#{DEFAULT_PROVIDER}", class: "btn"

    .container-fluid
      = yield
